*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 60%;
}

form{
    background-color: rgb(129, 129, 238);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.7;
    width: 50%;
    align-items: center;
    margin: 10px;
}

label{
    font-size: 16px;
    color: white;
    margin: 10px;
    font-weight: 600;
}

h2{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

input, textarea{
    padding: 6px;
    width: 90%;
    border: none;
    background-color: rgb(196, 193, 193);
    opacity: 0.9;
    color: black;
    border-radius: 6px;
    outline: none;
    margin-bottom: 15px;
    resize: none;
}

select{
    width: 90%;
    padding: 4px;
    background-color: rgb(196, 193, 193);
    color: black;
    border: none;
    opacity: 0.9;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.btnActualizar{
    margin-top: 30px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(69, 211, 41);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

select:hover, input:hover, textarea:hover{
    background-color: rgb(75, 238, 230);
}

.btnActualizar:hover{
    background-color: rgb(241, 69, 69);
}

.error{
    font-size: 15px;
    color: red;
    text-align: left;
    font-weight: 100;
    width: 70%;
    
}

.loading{
    color: white;
    text-align: center;
}