.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-around ;
    width: 100%;
    background-color: rgb(120, 7, 250);
}

.title {
    
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    background-color: rgb(156, 240, 229);
    height: 80vh;
}
.footer {
    background-color: rgb(35, 3, 71);
    height: 10vh;
}
.tbnhome {
    background-color: red;    
}
